.venv/
.git/
.gitignore

__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.env.*
!.env.example

*.sqlite3

logs/
staticfiles/
media/

.idea/
.vscode/

.pytest_cache/
.coverage
htmlcov/

Dockerfile
docker-compose.yml
celerybeat-schedule/
celerybeat-schedule*
